* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background: white;
    font-size: 12px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.logo span {
    background: red;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}
.search input {
    width: 500px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.right button {
    background: #f84464;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f8f8f8;
}
.menu a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}
.banner {
    padding: 20px;
}
.banner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}
.title {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.title a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
.movies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}
.card {
    width: 220px;
}
.image-box {
    position: relative;
}
.card img {
    width: 100%;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
.rating {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card h3 {
    margin-top: 10px;
}
.card p {
    margin-top: 5px;
    color: gray;
}
.footer{
    background-color: black;
    width: 100%;
    color: white;
    padding: 40px 60px;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
footer h2{
    font-size: 20px;
    color: white;
}
.logo span{
    background-color: red;
}
.footer-links{
    display: flex;
    gap: 30px;
}
.footer-links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.qr-section{
    text-align: center;
}
.qr-section img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}
.qr-section p{
    margin-top: 10px;
}
hr{
    margin: 30px 0;
    border: 1px solid #333;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-bottom p{
    color: #bdbdbd;
    max-width: 70%;
    line-height: 1.5;
}
.social-icons{
    display: flex;
    font-size: 25px;
    gap: 20px;
}

